{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>
<div class=container"><br>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-4">
                <form action="" method="post" role="form">
                    {{ form.csrf }}
                    <div class="form-group">
                        <label for="title">Book Title:</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Book title">
                        <br>
                        <label for="author">Author:</label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="Author name">
                        <br>
                        <label for="isbn">ISBN:</label>
                        <input type="text" class="form-control" id="isbn" name="isbn" placeholder="ISBN">
                        <br>
                        <label for="publishedDate">Published date:</label>
                        <input type="date" class="form-control" id="publishedDate" name="publishedDate" placeholder="Published date">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                <br>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if "Error" not in message[1]: %}
                                <div class="alert alert-info">
                                    <strong>Success! </strong> {{ message[1] }}
                                </div>
                            {% endif %}
                            {% if "Error" in message[1]: %}
                                <div class="alert alert-danger">
                                    <strong>Error: </strong> {{ message[1] }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <br>
        </div>
    </div>
{% endblock %}
